h1{color: brown;/*damos color*/
    font-family: Arial, Helvetica, sans-serif;/*colocamos formato de letra*/
    background-color: rgb(109, 182, 216);/*colocamos fondo de color*/
    text-align: center;/*centrar archivo*/
    width: 370px;
    height: 40px;
    margin-left: 20px;
    font-family: inherit;
    border: 3px solid rgb(185, 127, 17);
}
h2{color:peru;
    font-weight: 300;
}

h3{color: rgba(3, 70, 50, 0.548);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
li{color:rgba(9, 38, 134, 0.712);}
h4{color: darkslategray;
    font-style: oblique;
    font-size: 35px;
}
.destacados{color: rgba(194, 21, 21, 0.877);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
#rojo{
    background-color: rgba(90, 134, 108, 0.637);
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 5px solid black;
    box-sizing: border-box;
    margin-left: 450px;
    
}
#azul{
    background-color: rgb(144, 198, 206);
    width: 300px;
    height: 200px;
    padding: 7px;
    border: 5px solid black;
    margin-left: 30px;
}

.circular{
    margin-left: 425px;
    border: 5px solid rgb(27, 128, 128);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
#mivideo{
    border: 5px solid cadetblue;
    padding: 10px;
    background-color: coral;
}
