/* font-family: "Open Sans", serif;*/
/* font-family: "Great Vibes", serif;*/ /*para caligrafia*/

h1 {
  text-decoration: underline;
  color: black;
  font-family: "Great Vibes", serif;
  font-size: x-large;
  width: 400px;
  padding: auto;
}
img {
  margin-left: 500px;
  border-radius: 40px 4px 40px 5px;
  border: 3px solid brown;
  box-shadow: -10px -10px 10px black;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 320px;
  padding: 4px;
  background-color: aqua;
  border: 3px solid brown;
  box-shadow: 5px 5px 10px black;
  border-radius: 35px;
}
h3 {
  margin-left: 35px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cadetblue;
  width: 260px;
  padding: 5px;
  border-radius: 35px;
  border: 4px solid blue;
}
li {
  padding: 5px;
}

h4 {
  padding: 5px;
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 30px;
}
video {
  border-radius: 90px;
  border: 5px solid purple;
  box-shadow: 15px 25px 10px black;
}
audio {
  border: 5px solid blue;
  border-radius: 30px;
}
#caja {
  width: 300px;
  height: 300px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8235294117647058) 0%,
    rgba(6, 5, 90, 0.6050420168067228) 0%,
    rgba(6, 79, 93, 0.6050420168067228) 0%,
    rgba(6, 90, 97, 0.6498599439775911) 0%,
    rgba(9, 9, 121, 0.5630252100840336) 0%,
    rgba(6, 83, 99, 1) 0%,
    rgba(7, 52, 108, 0.43137254901960786) 5%,
    rgba(0, 255, 184, 0.7142857142857143) 100%
  );
  margin: 100px;
  padding: 20px;
  border-radius: 20px 15px 20px 15px;
  box-shadow: 10px 20px 5px black;
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.texto {
  color: blue;
  background-color: cornsilk;
  column-count: 5;
  column-gap: 50px;
  border: 3px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto p {
  margin: 0;
}
h6 {
  font-family: "Open Sans", serif;
}
.destacados {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}
